
  :root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  background-color: var(--dark);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#root {
  flex-grow: 1;
}


/* ------------------------------- Styling for small mobile devices"-------------------------------*/
@media (max-width: 414px) {
}

/* ------------------------------- Styling for desktops and laptops devices"-------------------------------*/
@media (min-width: 1025px) {
}
