:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

.login-btn {
  border:none;
  cursor: pointer;
  color: white;
  font-family: var(--title-font);
}

#review-btn {
  background-color: var(--light-green);
  border: none;
  font-family: var(--title-font);
}

#disabled-review-btn {
  background-color: var(--light-green);
  border: none;
  font-family: var(--title-font);
  opacity: 0.5;
}

#delete-review-btn {
  background-color: red;
  border: none;
  color: white;
  font-size: 14px;
  opacity: 0.5;
  transition: all 0.5s;
  border-radius: 3px;
}

/* ------------------------------- Styling for small mobile devices"-------------------------------*/
@media (max-width: 414px) {
  .login-btn {
    background-color: var(--light-grey);
    padding: 3px 5px;
    border-radius: 5px;
  }

  #review-btn {
    padding: 3px 5px;
  }

  #disabled-review-btn {
    padding: 3px 5px;
  }
  }

@media (min-width: 1025px) {
.login-btn {
    background:none;
    padding: 5px 10px;
    transition: 1s;
}

.login-btn:hover {
    background: var(--light-grey);
    border-radius: 2px;
}

.track-btn {
  background-color: var(--light-green);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: var(--title-font);
  opacity: 0.5;
  transition: all 0.5s;
}

#review-btn {
  padding: 5px 10px;
  opacity: 0.5;
  transition: all 0.5s;
}

#review-btn:hover, 
.track-btn:hover {
  cursor: pointer;
  opacity: 1;
}

#disabled-review-btn {
  padding: 5px 10px;
  border-radius: 3px;
}

#disabled-review-btn:hover {
  cursor: not-allowed;
}

#delete-review-btn:hover {
  opacity: 1;
  cursor: pointer;
}

}
