:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

#signup-pg-cont {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--dark);
  color: var(--white);
  height: 90%;
}

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: var(--dark-grey);
  border: 2px solid var(--light-green);
  border-radius: 5px;
  width: 30%;
  height: 40%;
}

.signup-input-container {
    width: 90%;
    height: 10%;
}