:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

#trackPage {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--dark);
  color: var(--white);
}

#track_form {
  height: 100%;
}

#small_select_cont input, 
#small_select_cont select {
  outline: none;
  background-color: var(--dark);
  border: 2px solid var(--light-grey);
  color: white;
}

/* ------------------------------- Styling for small mobile devices"-------------------------------*/
@media (max-width: 414px) {

  #trackPage {
    padding: 1em;
  }
  #small_select_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 1em;
    margin-bottom: 1em;
  }

  #small_select_cont input, 
  #small_select_cont select {
    width: 10em;
    height: 100%;
    border-radius: 3px;
    font-size: 14px;
  }

  #small_select_cont select option {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
#small_select_cont {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  height: 2em;
}

#small_select_cont input, 
#small_select_cont select {
  width: 15em;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
}
}
