@media (min-width: 1025px) {
    /* Your desktop styles here */
    :root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

#add_tag_cont {
    margin-top: 30px;
}

#select_input {
    width: 100%;
    outline: none;
    border-left: 2px solid var(--light-grey);
    border-right: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#select_input::-webkit-scrollbar {
    width: 8px;
}

#select_input::-webkit-scrollbar-track {
    background-color: var(--light-grey);
}

#select_input::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

#select_input::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: var(--light-green);
}

.tag_option {
    text-align: left;
    background-color: var(--dark);
    color: white;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.tag_option:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}

#selected_tag_cont {
    display: flex;
    justify-content: space-between;

    border: 2px solid var(--light-grey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#selected_tag_cont ul {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 15px;
    padding: 0px 5px;
    width: 97%;
}

#selected_tag_cont li {
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 5px;
    background-color: var(--light-grey);
    border-radius: 5px;
    border: 1px solid white;
}

.close {
    margin-left: 5px;
    background-color: var(--dark-green);
    padding: 5px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 1s;
}

.close:hover {
    cursor: pointer;
    background-color: var(--light-green);
    color: var(--dark);
}

.select_icon {
    font-size: 2em;
    padding-right: 10px;
}

.select_icon:hover {
    cursor: pointer;
}
}

