#dashboardPage {
    width: 100%;
    height: 100%;
}

#track-btn {
    text-decoration: none;
}

#dashboard-control-panel {
    display: flex;
    justify-content: space-between;
}

#filter-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}