:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

#sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

#sort-container > span{
  margin-right: 5px;
}
#sort-container {
  position: relative;
}

#sort-icons-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#sort-icons-cont:hover {
  cursor: pointer;
}

#sort-icons-cont > span{
  margin-right:5px;
}

#sort-hidden {
  display: none;
}

#sort-show {
  position: absolute;
  background-color: var(--dark);
  top: 100%;
  z-index: 1; 
  width: 100%;
  border: 2px solid var(--light-grey);
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

#sort-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#sort-order > p:hover {
  cursor: pointer;
}

.sort-option-chosen {
  color: var(--light-green);
}

INPUT[type=radio]
{
    background-color: white;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: relative;
}

INPUT[type=radio]:checked
{
    background-color: var(--light-green);
    background: var(--light-green);
}