@media (min-width: 1025px) {
    /* Your desktop styles here */

:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

.pagination_btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 3px;
    border-radius: 2px;
}

.pagination_btn:hover, 
.active_pagination_btn {
    cursor: pointer;
}

.active_pagination_btn {
    margin-right: 3px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid var(--light-green);
    color: var(--dark);
}
}
