.manga_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    color: white;
    margin: 10px 0px;
    padding: 5px;
}

.manga_main_info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
}

.manga_info_cont {
    display: flex;
    width: 80%;
}

.manga_info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40%;
    margin-left: 10px;
}

.reading_status {
    width: 50%;
}

.manga_cont p {
    margin: 0;
    padding: 0;
}