:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7%;
    background-color: var(--dark);
    color: var(--white);
}

#nav-title-cont {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: var(--title-font);
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
}

#auth-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 15%;
}

#nav-user-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 20%;
}

#auth-btn-container > a {
    text-decoration: none;
}

.auth-btn {
    padding: 7px 12px;
    border-radius: 15px;
    font-family: var(--title-font);
    background: linear-gradient(#0000, rgb(0 0 0/40%)) top/100% 800%;
    transition: 0.5s;
}

.auth-btn:hover {
    cursor: pointer;
    background-position: bottom;
}

#login-btn {
    background-color: var(--light-green);
    border: none;
    color: var(--dark);
}

#signup-btn {
    background-color: var(--light-grey);
    border: none;
    color: var(--light-green);
}

#navUsername {
    font-family: var(--title-font);
    font-weight: bold;
}

.logout-btn {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    font-family: var(--title-font);
    background-color: var(--light-green);
    color: var(--dark);
}

.logout-btn:hover {
    cursor: pointer;
}

.logo-container {
  position: relative;
  width: 50px;
  height: 50px;
  perspective: 1000px; /* Create a 3D perspective */
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the backface of the logos */
  transition: transform 0.5s;
}

.front {
  transform: rotateY(0deg); /* Initially show the front logo */
}

.back {
  transform: rotateY(-180deg); /* Initially hide the back logo */
}

.logo-container:hover .front {
  transform: rotateY(180deg); /* Flip to show the back logo on hover */
}

.logo-container:hover .back {
  transform: rotateY(0deg); /* Flip to show the back logo */
}


#nav-title {
    margin-left: 10px;
}
