:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7%;
    background-color: var(--dark);
    color: var(--white);
    padding: 0px 30px;
}

#navbar-title {
    margin: 0;
    font-size: var(--title-font);
    font-size: 24px;
}

#auth-btn-container {
    display: flex;
    justify-content: space-between;

    width: 10%;
}

.auth-btn {
    padding: 10px 15px;
    border-radius: 15px;
    font-family: var(--title-font);
    background: linear-gradient(#0000, rgb(0 0 0/40%)) top/100% 800%;
    transition: 0.5s;
}

.auth-btn:hover {
    cursor: pointer;
    background-position: bottom;
}

#login-btn {
    background-color: var(--light-green);
    border: none;
    color: var(--dark);
}

#signup-btn {
    background-color: var(--light-grey);
    border: none;
    color: var(--light-green);
}