:root {
  --title-font: 'Russo One', sans-serif;
  --light-green: #3ed057;
  --dark-green: #0e4429;
  --light-grey: #5e6670;
  --dark-grey: #2a3038;
  --dark: #22272e;
  --white: #FFFFFF;
}

.rating_display {
  display: flex;

  padding-right: 5px;
}

.display_star {
  display: inline-block;
  cursor: pointer;
  color: #ddd;
  font-size: 1.3rem; 
}

.selected,
.selected ~ .star {
  color: var(--dark-green);
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}



